<nav>
        <div class="logo">
            <h1 >W e a t h e r  </h1>
            <div class="logoimage"></div>
        </div>
        <div class="link">
       <a href="/" class={{class_1}} >Home</a>
       <a href="weather" class={{class_2}} >Weather </a>
       <a href="about" class={{class_3}} >About</a>
       <a href="login" class={{class_4}} >Login</a>
       <a href="register" class={{class_5}} >Register</a>

        </div>
    </nav> 